.post {
  width: 60%;
  display: inline-block;
}

.rating {
  display: flex;
}

.stars {
  margin-right: 10px;
}

.review_stars {
  background-color: #f43839;
  color: white;
  border-right: 2px solid white;
}

.created_date {
  opacity: .25;
}

a.post_photos__link {
  text-decoration: none;
  color: black;
}

.post_photos__num {
  margin-top: 10px;
}

.post_photos__link {}

span.post_photos__link__text {
  margin-left: 5px;
  color: #326dc7;
}

span.post_photos__link__text:hover {
  text-decoration: underline;
  color: #326dc7;
}

div#review {
  margin: 3rem 0px;
}

.review_images {}

img.images {
  width: 45%;
  margin-right: 12px;
  border-radius: 5px;
}

.images:hover,
.emoji:hover {
  cursor: pointer
}

.emoji {
  margin-top: 5%;
  margin-bottom: 5%;
}

span.emoji_icon {
  margin: 0% 4% 0px 0px;
  padding: 5px 3px 13px 3px;
  border-radius: 5px;
}

span.emoji_icon:hover {
  background-color: rgba(0, 0, 0, 0.15);
  color: #326dc7;
}


/* Extra small devices (phones, 600px and down) */
@media (max-width: 650px) {
  .post {
    width: 100%;
  }

  .rating,
  .post_photos__num,
  .review,
  .review_images {
    margin: 1rem 2rem 0;
  }

  .emoji {
    text-align: center;
  }
}