.border_top {
  margin-bottom: 6%;
  border-bottom: 1px solid grey;
  opacity: .25;
}

.body_content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 650px) {
  .body_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}